{% extends 'ksda/base.html' %}
{% block title %}Documents{% endblock %}

{% block bodyBlock %}
    <!-- AJAX !-->
    <script type="text/javascript">
        function jq( myid ) {
            return "#" + myid.replace( /(:|\.|\[|\])/g, "\\$1" );
        }

        $(document).ready(function () {
            $('body').on('click', '.documentDelete', function(e) {
                // 'Document ID'
                docid = $(this).parent().attr('id');
                               
                var jqxhr = $.post( "{% url 'deleteDocument' %}",
                                    {id:docid, csrfmiddlewaretoken: '{{ csrf_token }}'},
                                    function(response) {
                                        $(e.target).closest('tr').remove();
                                    });
            });
        });
    </script>

    <h2> Upload Document </h2>
    <form enctype="multipart/form-data" method="post" action="{% url 'documents' %}">
        <table>
            {{form}}
        </table>
    
        {% csrf_token %}
        <input type="submit" value="upload" />
    </form>

    {% if documents %}
    <h2> Document Repository </h2>
    <table class="table table-striped" data-toggle="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Created</th>
                <th>Updated</th>
                {% if ecPower %}
                <th>Delete?</th>
                {% endif %}
            </tr>
        </thead>
    
        {% for document in documents %}
        <tr>
            <td> <a href='{{ document.url }}'>{{ document.filename }}</a> </td>
            <td> {{ document.user.first_name }} {{ document.user.last_name }} </td>
            <td> {{ document.created }} </td>
            <td> {{ document.updated }} </td>
            {% if ecPower %}
            <td> <div id={{ document.id }}>
                    <button class='documentDelete'> Delete </button>
                 </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}