{% extends 'ksda/base.html' %}
{% block title %}Home{% endblock %}

{% block bodyBlock %}
   <div class = "post-list">
    <form class = "form-post" action="{% url 'post' thread.threadID %}" method="post" >
        {{postform}}
        <input type="submit" text="Add item">
        {% csrf_token %}
    </form>
</div>

    <p>
        <div class = "post-list">
        <h1> {{title}} </h1>
        <h2 class = "temp1"> {{content}} </h2>
        <ol class = "list-group" id = "list-group">
                {% include 'ksda/stream.html' %}
            
        </ol>
    </div>
    </p>


<div class = "post-list">
    <form class = "form-post" action="{% url 'post' thread.threadID %}" method="post" >
        {{postform}}
        <input type="submit" text="Add item">
        {% csrf_token %}
    </form>
</div>
{% endblock %}
